<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Tss Blog Spring</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>	
	</head>
	<body>
		<header>
			<nav class="navbar navbar-light bg-secondary">
			  <div class="container-fluid">
	            <span class="navbar-brand mb-0 h1 text-white" style="font-weight: bold;">Tss Blog Spring</span>
			  </div>
			</nav>		
		</header>
		<section>
			<div class="container bg-light" style="width: 60%; padding-bottom: 2rem;">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb bg-light fw-bold" style="background-color: white; padding-left: 0px;">
				    <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Novo Post</li>
				  </ol>
				</nav>		
			
				<div>		
					<th:block th:include="page-mensagem"></th:block>	
					<form method="POST">
						<div class="form-group mb-3">
							<input type="text" class="form-control" name="title" placeholder="Título *">
						</div>
						
						<div class="form-group mb-3">
							<input type="text" class="form-control" name="author" placeholder="Autor *">
						</div>
						
						<textarea id="summernote" type="text" class="form-control" name="text" placeholder="Texto "></textarea>
						
						<div><small class="form-text text-muted">(*) Campos obrigatórios</small></div>
						
						
						<button type="submit" class="btn btn-success" style="margin-top: 10px;">Publicar</button>
						<a href="/posts" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
					</form>
				</div>
							
			</div>
		</section>
		
		<script>
		    $('#summernote').summernote({
		        placeholder: 'Texto *',
		        tabsize: 2,
		        height: 300
		    });
		</script>	
			
	</body>
</html>